div.instrument {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width:100%;
    padding-bottom:100%
}

div.instrument div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
}

div.instrument div img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

div.instrument div object {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

div.instrument div svg {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #888888;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #111111;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #111111;
    cursor: pointer;
}